/*create*/
#spanPopUpIncorrect {
    visibility: hidden;
    color: brown;
    font-size: 20px;
}

/*edit*/
#editRestaurant {
    background-color: green;
    border: none;
}

/*delete*/
#deleteRestaurant {
    background-color: red;
    border: none;
}